body.drawerjs-holder {
  background-color: #303036; }

@media (min-width: 740px) {
  .has-layout-boxed .app-footer {
    border-color: #303036;
    background-color: #303036; } }

.navbar-inverse {
  border-color: #2a2c32;
  background-color: #212227; }
  .navbar-inverse .input-group-addon > .label {
    background-color: #212227; }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #37383d; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-collapse .form-inline {
      border-color: #2a2c32; }
    .navbar-inverse .navbar-collapse .dropdown-menu .dropdown-item:hover, .navbar-inverse .navbar-collapse .dropdown-menu .dropdown-item:focus,
    .navbar-inverse .navbar-collapse .dropdown-menu .dropdown-item .focus {
      background-color: #1c1d21; }
    .navbar-inverse .navbar-collapse .dropdown-menu > .dropdown-title,
    .navbar-inverse .navbar-collapse .dropdown-menu > .dropdown-footer {
      border-color: #2a2c32; }
    .navbar-inverse .navbar-collapse .dropdown-menu-media .dropdown-item + .dropdown-item {
      border-color: #2a2c32; }
    .navbar-inverse .navbar-collapse .dropdown-menu-media .dropdown-item-highlight {
      background-color: #212227; }
      .navbar-inverse .navbar-collapse .dropdown-menu-media .dropdown-item-highlight:hover, .navbar-inverse .navbar-collapse .dropdown-menu-media .dropdown-item-highlight:focus,
      .navbar-inverse .navbar-collapse .dropdown-menu-media .dropdown-item-highlight .focus {
        background-color: #212227; }
    .navbar-inverse .navbar-collapse .dropdown-list-h > .row > [class*="col-"]:nth-of-type(1n+3) {
      border-top-color: #2a2c32; }
    .navbar-inverse .navbar-collapse .dropdown-list-h > .row > [class*="col-"]:nth-of-type(odd) {
      border-right-color: #2a2c32; } }
  .navbar-inverse .form-inline {
    border-color: #2a2c32; }
  .navbar-inverse .avatar-wrapper .avatar-badge {
    border-color: #212227; }
  .navbar-inverse .avatar-wrapper.has-hoverable-badge:hover .avatar-badge, .navbar-inverse .avatar-wrapper.has-hoverable-badge:focus .avatar-badge,
  .navbar-inverse .avatar-wrapper.has-hoverable-badge .focus .avatar-badge {
    background-color: #212227; }

.drawerjs-wrapper {
  background-color: #f8f8f8 !important; }

.drawerjs {
  background-color: #f8f8f8; }

.app-exdrawer {
  background-color: #303036 !important; }

.drawerjs-nav.nav > li > a:hover, .drawerjs-nav.nav > li > a:focus,
.drawerjs-nav.nav > li > a .focus {
  color: #303030; }

.stacked-menu {
  /* global state */
  /* nav child */
  /* nav level 1 */
  background-color: #f8f8f8; }
  .stacked-menu .menu-header {
    color: #969696; }
  .stacked-menu .menu-subhead {
    color: #303030;
    font-weight: 500; }
  .stacked-menu .menu-link {
    color: #5e5e5e; }
    .stacked-menu .menu-link:hover, .stacked-menu .menu-link:focus,
    .stacked-menu .menu-link .focus {
      background-color: transparent;
      color: #C56C6C; }
    .stacked-menu .menu-link .menu-text {
      font-weight: 500;
      letter-spacing: .25px; }
  .stacked-menu .menu-item + .menu-item {
    margin-top: 0; }
  .stacked-menu .menu-item.has-open:not(.has-active) > .menu-link {
    background-color: transparent;
    color: #C56C6C; }
  .stacked-menu .menu-item.has-active > .menu-link {
    background-color: transparent;
    color: #C56C6C; }
  .stacked-menu .has-child > .menu {
    background-color: #f0f0f0; }
  .stacked-menu > .menu > .menu-item > .menu-link {
    color: #5e5e5e; }
    .stacked-menu > .menu > .menu-item > .menu-link .menu-icon {
      color: inherit; }
    .stacked-menu > .menu > .menu-item > .menu-link:hover, .stacked-menu > .menu > .menu-item > .menu-link:focus,
    .stacked-menu > .menu > .menu-item > .menu-link .focus {
      background-color: #f0f0f0;
      color: #303030; }
  .stacked-menu > .menu > .menu-item.has-open > .menu-link {
    background-color: #f0f0f0;
    color: #303030; }
    .stacked-menu > .menu > .menu-item.has-open > .menu-link .menu-icon {
      color: inherit; }
    .stacked-menu > .menu > .menu-item.has-open > .menu-link .menu-subhead {
      background-color: #f0f0f0; }
  .stacked-menu > .menu > .menu-item.has-active > .menu-link {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f8f8f8;
    color: #C56C6C; }
    .stacked-menu > .menu > .menu-item.has-active > .menu-link .menu-icon {
      color: inherit; }

.stacked-menu-has-compact .has-child.has-active .menu-subhead {
  background-color: #f8f8f8; }

.stacked-menu-has-compact > .menu > .menu-item:not(.has-child) > .menu-link .menu-text {
  background-color: #f0f0f0; }

.stacked-menu-has-compact > .menu > .menu-item.has-active > .menu-link .menu-text {
  background-color: #f8f8f8; }

.stacked-menu-has-compact > .menu > .menu-item.disabled > .menu-link .menu-text,
.stacked-menu-has-compact > .menu > .menu-item > .menu-link.disabled .menu-text {
  background-color: #f8f8f8; }

/*# sourceMappingURL=early-black.css.map */
